<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>testNg</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ea97a2">  <td>20/02/19 17:17:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:runClass.NewTest@2bbf4b8b]">f</td> 
  <td>TestNG-tests-2@1998344274</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/02/19 17:18:02</td>   <td>3570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:runClass.NewTest@1d29cf23]">f</td> 
  <td>TestNG-tests-1@371362158</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/02/19 17:17:56</td>   <td>-1971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setup(java.lang.String)[pri:0, instance:runClass.NewTest@2bbf4b8b]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1998344274</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/02/19 17:17:56</td>   <td>-1971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setup(java.lang.String)[pri:0, instance:runClass.NewTest@1d29cf23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@371362158</td>   <td></td> </tr>
</table>
