<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ec7f6c">  <td>20/02/25 15:36:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:runClass.NewTest@53f65459]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1941153989</td>   <td></td> </tr>
<tr bgcolor="ec7f6c">  <td>20/02/25 15:37:03</td>   <td>6156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:runClass.NewTest@7a765367]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1196732447</td>   <td></td> </tr>
<tr bgcolor="ec7f6c">  <td>20/02/25 15:36:28</td>   <td>-27980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:runClass.NewTest@53f65459]">f</td> 
  <td>TestNG-tests-1@1941153989</td>   <td></td> </tr>
<tr bgcolor="ec7f6c">  <td>20/02/25 15:36:30</td>   <td>-26086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:runClass.NewTest@7a765367]">f</td> 
  <td>TestNG-tests-2@1196732447</td>   <td></td> </tr>
<tr bgcolor="ec7f6c">  <td>20/02/25 15:36:22</td>   <td>-33987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setup(java.lang.String, java.lang.String)[pri:0, instance:runClass.NewTest@7a765367]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1196732447</td>   <td></td> </tr>
<tr bgcolor="ec7f6c">  <td>20/02/25 15:36:22</td>   <td>-33987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setup(java.lang.String, java.lang.String)[pri:0, instance:runClass.NewTest@53f65459]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1941153989</td>   <td></td> </tr>
</table>
