<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ea97a2">  <td>20/02/24 09:33:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setup(java.lang.String)[pri:0, instance:runClass.NewTest@5f282abb]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=FirefoxTest-1@539146742</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/02/24 09:33:34</td>   <td>7634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:runClass.NewTest@5f282abb]">f</td> 
  <td>TestNG-test=FirefoxTest-1@539146742</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/02/24 09:34:04</td>   <td>37612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:runClass.NewTest@5f282abb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=FirefoxTest-1@539146742</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/02/24 09:34:04</td>   <td>37767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setup(java.lang.String)[pri:0, instance:runClass.NewTest@30a3107a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=ChromeTest-1@2052549531</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/02/24 09:34:11</td>   <td>45423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:runClass.NewTest@30a3107a]">f</td> 
  <td>TestNG-test=ChromeTest-1@2052549531</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/02/24 09:34:20</td>   <td>53659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:runClass.NewTest@30a3107a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=ChromeTest-1@2052549531</td>   <td></td> </tr>
</table>
